@charset "UTF-8";
:root {
  align-items: center;
  font-family: "Droid Sans Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --square-height: 525px;
  background-color: #232323;
  color: white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
  /* Set the size of the grid to 10 by 10 squares */
  background-size: 20px 20px;
}

a {
  color: whitesmoke;
}

li {
  padding: 5px;
}

/* Thanks to ChatGPT for this part */
#naslov {
  /* Specifies that the element should be positioned absolutely within its parent element */
  position: absolute;
  /* Centers the element vertically */
  top: 50%;
  /* Centers the element horizontally */
  left: 50%;
  /* Offsets the element by half its width and height to account for the absolute positioning */
  transform: translate(-50%, -50%);
  color: bisque;
  line-height: 1.5;
}

#dno {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#space {
  height: 500px;
}

#large_space {
  height: 1000px;
}

#square {
  width: 525px;
  height: var(--square-height);
  border-radius: 7.5px;
  background-color: #3d3838;
  text-align: center;
  list-style-position: inside;
}

#lang_square {
  width: 610px;
  height: 610px;
  border-radius: 7.5px;
  background-color: #3d3838;
  text-align: center;
  list-style-position: inside;
}

#about_me {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#about_me_naslov {
  color: lightcoral;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#projects_mini_naslov {
  color: rgb(84, 175, 96);
}

#projects_naslov {
  color: rgb(128, 175, 57);
}

#langs {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#langs_naslov {
  color: rgb(103, 180, 155);
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#social_naslov {
  color: brown;
}

#langauges_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#langauges_chart_naslov {
  color: darkkhaki;
}

#chart {
  width: 250px;
  height: 250px;
}

#setup {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#setup_mini_naslov {
  color: rgb(158, 164, 216);
}

#setup_naslov {
  color: rgb(107, 180, 180);
}

.row {
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

button {
  font-family: Tahoma, sans-serif;
  border: 0;
  color: var(--button-fg);
  background-color: var(--button-bg);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "▾";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
  transform: translateY(-50%) rotate(180deg); /* Thanks to ChatGPT for ensuring arrow is in same level as text */
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
}/*# sourceMappingURL=style.css.map */