@charset "UTF-8";
/* -------------------------------------------------------- */
/* Global variables and global mixins */
/* -------------------------------------------------------- */
:root {
  align-items: center;
  font-family: "Droid Sans Mono";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --square-width: 600px;
  --square-height: 550px;
  background-color: #232323;
  color: whitesmoke;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------------- */
/*                      Style for global HTML elements                       */
/* ------------------------------------------------------------------------- */
a {
  color: whitesmoke;
}

body {
  background-image: linear-gradient(to right, black 1px, transparent 1px), linear-gradient(to bottom, black 1px, transparent 1px);
  background-size: 20px 20px;
}

button {
  font-family: Tahoma, sans-serif;
  border: 0;
}

li {
  padding: 5px;
}

/* ------------------------------------------------------------------------- */
/*                       Style for global IDs and classes                    */
/* ------------------------------------------------------------------------- */
/* Thanks to ChatGPT for this part */
#naslov {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: bisque;
  line-height: 1.5;
}

#dno {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#space {
  height: 500px;
}

#large_space {
  height: 1000px;
}

#square, #lang_square {
  width: var(--square-width);
  height: var(--square-height);
  border-radius: 7.5px;
  background-color: #3d3838;
  text-align: center;
  list-style-position: inside;
}

#lang_square {
  width: 610px;
  height: 610px;
}

/* ------------------------------------------------------------------------- */
/*                              Style for icons                              */
/* ------------------------------------------------------------------------- */
.fa-github:hover {
  color: black;
}

.fa-envelope:hover {
  color: wheat;
}

/* ------------------------------------------------------------------------- */
/*                             Style for each square                         */
/* ------------------------------------------------------------------------- */
#about_me {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#about_me_title {
  color: lightcoral;
}

#about_me_subtitle {
  color: rgb(236, 162, 162);
}

#about_me_list {
  text-indent: -50px;
}

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
#projects a {
  color: lightblue;
}

#projects_title {
  color: rgb(128, 175, 57);
}

#langs {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#langs_title {
  color: rgb(103, 180, 155);
}

#social {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#social_title {
  color: brown;
}

#langauges_chart {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#langauges_chart_title {
  color: darkkhaki;
}

#languages_chart_list {
  text-indent: -50px;
}

#chart {
  width: 250px;
  height: 250px;
}

#setup {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}

#setup_title {
  color: rgb(107, 180, 180);
}

#setup_subtitle {
  color: rgb(158, 164, 216);
}

/* ------------------------------------------------------------------------- */
/*                      Style for scroll animations                          */
/* ------------------------------------------------------------------------- */
.organizations {
  line-height: 2.6em;
}

.row {
  display: flex;
  justify-content: center;
}

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

/* ------------------------------------------------------------------------- */
/*                      Style for drop down menu                             */
/* ------------------------------------------------------------------------- */
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "▾";
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.accordion-item-header.active::after {
  transform: translateY(-50%) rotate(180deg); /* Thanks to ChatGPT for ensuring arrow is in same level as text */
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  border-top: 1px solid;
}/*# sourceMappingURL=style.css.map */