/* -------------------------------------------------------- */
/* Global variables and global mixins */
/* -------------------------------------------------------- */

:root {
    align-items: center;

    font-family: "Droid Sans Mono";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --square-width: 600px;
    --square-height: 550px;

    background-color: #232323;
    color: whitesmoke;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@mixin center_div {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

/* -------------------------------------------------------- */
/* Style for global HTML elements */
/* -------------------------------------------------------- */

a {
    color: whitesmoke;
}

body {
    background-image: linear-gradient(to right, black 1px, transparent 1px),
        linear-gradient(to bottom, black 1px, transparent 1px);
    /* Set the size of the grid to 10 by 10 squares */
    background-size: 20px 20px;
}

button {
    font-family: Tahoma, sans-serif;
    border: 0;

    color: var(--button-fg);
    background-color: var(--button-bg);
}

li {
    padding: 5px;
}

/* -------------------------------------------------------- */
/* Style for "global elements", header, footer, spaces and squares */
/* -------------------------------------------------------- */

/* Thanks to ChatGPT for this part */
#naslov {
    /* Specifies that the element should be positioned absolutely within its parent element */
    position: absolute;
    /* Centers the element vertically */
    top: 50%;
    /* Centers the element horizontally */
    left: 50%;
    /* Offsets the element by half its width and height to account for the absolute positioning */
    transform: translate(-50%, -50%);

    color: bisque;
    line-height: 1.5;
}

#dno {
    @include center_div();
}

#space {
    height: 500px;
}

#large_space {
    height: 1000px;
}

#square {
    width: var(--square-width);
    height: var(--square-height);
    border-radius: 7.5px;
    background-color: #3d3838;
    text-align: center;
    list-style-position: inside;
}

#lang_square {
    @extend #square;

    width: 610px;
    height: 610px;
}

/* -------------------------------------------------------- */
/* Style for IDs and classes */
/* -------------------------------------------------------- */

.fa-github:hover {
    color: black;
}

.fa-envelope:hover {
    color: wheat;
}

/* -------------------------------------------------------- */
/* Styles for each square and square's title */
/* -------------------------------------------------------- */

#about_me {
    @include center_div();
}

#about_me_naslov {
    color: lightcoral;
}

#about_me_naslov_dva {
    color: rgb(236, 162, 162);
}

#about_me_lista {
    text-indent: -50px;
}

#projects {
    @include center_div();
}

#projects_naslov {
    color: rgb(128, 175, 57);
}

#projects_mini_naslov {
    color: rgb(84, 175, 96);
}

#langs {
    @include center_div();
}

#langs_naslov {
    color: rgb(103, 180, 155);
}

#social {
    @include center_div();
}

#social_naslov {
    color: brown;
}

#langauges_chart {
    @include center_div();
}

#langauges_chart_naslov {
    color: darkkhaki;
}

#chart {
    width: 250px;
    height: 250px;
}

#setup {
    @include center_div();
}

#setup_mini_naslov {
    color: rgb(158, 164, 216);
}

#setup_naslov {
    color: rgb(107, 180, 180);
}

/* -------------------------------------------------------- */
/* Style for drop down menu */
/* -------------------------------------------------------- */

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-size: 20px;
    position: relative;
    cursor: pointer;

    &::after {
        content: "\25BE";
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        transition: transform 0.2s ease-in-out;
    }
}

.accordion-item-header.active {
    &::after {
        transform: translateY(-50%) rotate(180deg); /* Thanks to ChatGPT for ensuring arrow is in same level as text */
    }
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    border-top: 1px solid;
}
